.filtered_menu_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 16px;
  color: #262626;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.filtered_options {
  position: absolute;
  margin-left: 27px;
  border: 1px solid #000;
  padding: 0px 1px;
  cursor: pointer;
  z-index: 100;
  background-color: #fff;
}
.filtered_paragraph:hover {
  background-color: #1e8fff;
  color: #fff;
}
